<style>
  body {
    margin: 0;
    padding: 0;
    font-family: 'Varela Round', sans-serif;
    font-size: 10px;
  }

  .square5 {
    position: relative;
    width: 100%;
    padding-top: 100%; /* 1:1 Aspect Ratio */
    overflow: hidden;
    /* background-color: #ff0000; */
  }

  .square5 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .overlay5 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
  }

  .content-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*padding: 2%;  Add padding for spacing */
    /*box-sizing: border-box;  Include padding and border in element's total width and height */
    /* aspect-ratio: 1 / 1; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
  }

  .content-container pre {
    font-family: 'OpenSans-Bold' , sans-serif;
  }

  .title5 {
    position: absolute;
    padding: 10px;
    color: white;
    top: 15%;
    left: 10%;
    background-color: rgba(55, 77, 78, 0);
    font-size: 8em;
    font-family: 'OpenSans-Bold' , sans-serif;

    /*font-size: clamp(16px, 2vw, 33px);  Responsive font size */
    line-height: 1.2; /* Adjust line-height if necessary */
    overflow: hidden; /* Hide overflow text */
    /*white-space: nowrap;  Prevent text wrapping */

    width: 80%;
    max-height: 30%;
    text-align: center;

    /* display: flex; ::::::::JUST IN CASE MAY NEED THIS::::::::::
    justify-content: center; ::::::::JUST IN CASE MAY NEED THIS::::::::::
    align-items: center;  ::::::::JUST IN CASE MAY NEED THIS::::::::::*/
  }
  
  .date5 {
    position: absolute;
    padding: 10px;
    color: white;
    top: 70%; left: 25%;
    /* background-color: rgba(55, 77, 78, 0.5); */
    font-family: 'OpenSans-Bold' , sans-serif;
    font-size: 33px;
    border: 2px solid white;
    border-radius: 15px;
  }

  .time5 {
    position: absolute;
    padding: 10px;
    color: white;
    top: 70%; left: 55%;
    background-color: rgba(55, 77, 78, 0.5);
    font-family: 'OpenSans-Bold' , sans-serif;
    font-size: 33px;
    border: 2px solid white;
    border-radius: 15px;
  }

  .description5 {
    position: absolute;
    padding: 10px;
    color: white;
    top: 40%; left: 10%;
    background-color: rgba(55, 77, 78, 0.5);
    font-family: 'OpenSans-Bold' , sans-serif;
    font-size: 33px;
    line-height: normal;
    width: 80%;
    border-radius: 15px;
    text-align: center;
  }

  .venue5 {
    position: absolute;
    padding: 25px;
    color: white;
    bottom: 10%;
    right: 10%;
    left: 10%;
    background-color: rgba(55, 77, 78, 0.5);
    font-family: 'OpenSans-Bold' , sans-serif;
    font-size: 33px;
    text-align: center;
  }

  .shape5-1 {
    position: absolute;
    bottom: 10%;
    right: 10%;
    left: 10%;
    width: 80%;
    height: 100px;
    background-color: rgba(255, 0, 0, 0.5);
  }

  .shape5-2 {
    position: absolute;
    bottom: 10%; right: 10%;
    width: 100px; height: 10px;
    border-radius: 10px;
    background-color: rgba(255, 0, 0, 0.5);
  }

</style>

<div class="square5">
  <img src="https://tack.plus/media/Add_media/bg5.png" alt="Template Image">
  <!-- <img class="overlay5" src="https://cdn.prod.website-files.com/64bfd4a79278e7a8fe5b8d39/64bfd4a79278e7a8fe5b8d6f_photo_founders%20(1).png" alt="overlay5 Image"> -->
  <div class="content-container">
    <div class="title5">{{title}}</div>
    <div class="date5">{{date}}</div>
    <div class="time5">{{time}}</div>
    <div class="description5"><pre>{{description}}</pre></div>
    <div class="venue5">{{venue}}</div>
    <div class="shape5-1"></div>
    <div class="shape5-2"></div>
  </div>
</div>
