

@font-face {
    font-family: 'Varela Round';
    /* src: url('/static/assets/fonts/varela_round/VarelaRound-regular.ttf'); */
    src: url('/staticfiles/assets/fonts/varela_round/VarelaRound-regular.ttf');
}

body {
    margin: 0;
    font-family: 'Varela Round', sans-serif;
}



.logo {
    color: #fff;
    font-size: small;
}


.menu ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.menu li {
    position: relative;
    margin: 0 12px;
}



.sticky-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #009c9c;
    padding: 0px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
  }
  
 /* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
 ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
 ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
 :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

 .search-dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  .search-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1000;

    top: 40px;
    right: -30px;
  }
  
  .search-dropdown-content input[type="text"] {
    padding: 10px;
    border: none;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;
  }
  
  .search-dropdown-content input[type="text"]:focus {
    outline: none;
  }
  
  .search-dropdown-content input[type="text"]::placeholder {
    color: #999;
    font-family: 'Varela Round', sans-serif;
  }
  
  .search-dropdown-content input[type="submit"] {
    background-color: #00998c;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    width: 100%;
    font-family: 'Varela Round', sans-serif;
    border-radius: 0px;
  }
  
  /* .search-dropdown:hover .search-dropdown-content {
    display: block;
  } */

.search-sec {
    margin-top: 80px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: small;
    font-family: 'Varela Round', sans-serif;
}

.search-results-grid {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
    gap: 20px 1px;
    margin: auto;

    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto; /* Optional */

    font-family: 'Varela Round', sans-serif;
    background-color: #0053484b;
    margin-bottom: 20px;
    border-radius: 15px;
    color: #000;
}

.search-results-grid a {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Make link color inherit from parent */
}

.search-results-grid a:hover {
    text-decoration: none; /* Remove underline on hover */
    color: inherit; /* Make link color inherit from parent on hover */
}

/* .search-p {
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
} */

.search-query {
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
}

.search-cover-img {
    max-height: 300px;
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.search-user-profile {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50px;
}
  
  /* :::::::::::::::::::::::::::::::::: */

  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropbtn {
    background-color: #009c9c;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown-content {
    font-family: 'Varela Round', sans-serif;
    display: none;
    position: absolute;
    background-color: rgb(0, 143, 143);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 10px;
    right: 0;
    top: 40px;
    width: 230px;
    /* width: 220px; */
  }
  
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 10px;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
    text-decoration: none;
  }

  .tiny-span{
    font-weight: 100;
    font-style: italic;
    color: #00ffd5;
  }


 /* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
 ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
 ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
 :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */



.w-button {
    color: red;
    font-weight: bold;
    margin-top: 30px;
}

  

/* Card Styles */

.one {
    padding-top: 80px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px 1px;
    margin: auto;

    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto; /* Optional */

    font-family: 'Varela Round', sans-serif;
}


@media (max-width: 200px) {
    /* On screens between 401px and 700px */
    .one {
        /* grid-template-columns: repeat(2, 1fr); */
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}

/* @media (max-width: 400px) { */
    /* On screens 400px and narrower */
    /* .one { */
        /* grid-template-columns: 1fr; */
        /* grid-template-columns: repeat(auto-fill, minmax(100%, 1fr)); */
    /* } */
/* } */

@media (min-width: 401px) and (max-width: 700px) {
    /* On screens between 401px and 700px */
    .one {
        /* grid-template-columns: repeat(2, 1fr); */
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}

@media (min-width: 701px) and (max-width: 900px) {
    /* On screens between 701px and 900px */
    .one {
        /* grid-template-columns: repeat(3, 1fr); */
        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    }
}

@media (min-width: 901px) {
    /* On screens 901px and wider, use a three-column layout */
    .one {
        /* grid-template-columns: repeat(4, 1fr); */
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}




.one-item {
    /* text-align: center; */
    /* align-content: center; */
    margin: auto;
    margin-top: 10px;
    width: 90%;
    border-radius: 10px 30px 20px 50px;
    background-color: #009c9c;  /* rgb(206, 206, 206); */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.one-item p {
    margin: 15px;
    font-family: 'Varela Round', sans-serif;
}

.one-item img {
    width: 100%;
    height: auto;
    max-height: 180px;
    min-height: 180px;
    object-fit: cover;
    border-radius: 10px 30px 0 0;
    position: relative;
    z-index: 0;
}


.card-heading {
    font-size: 16px;
    font-weight: bold;
    color: #000;
    background: #fff;
    padding: 10px 15px;
    font-family: 'Varela Round', sans-serif;
    border-radius: 10px 30px 0 0;
    /*margin-top: -30px;  return when dealing with img but all of them will need images */
    position: relative;
    z-index: 1;
}

.card-text {
    position: relative;
    padding: 10px 15px;
    background: #fff;
    font-size: 14px;
    color: #636262;
    font-family: 'Varela Round', sans-serif;
    z-index: 1;
}

.card-text a {
        text-decoration: none; /* Remove underline */
    }

    .card-text a:hover {
        text-decoration: none;
    }


.card-tg {
        padding: 10px 15px;
        background: #f1f1f1;
        /* border-radius: 50px; */
        font-size: 12px;
        color: #000000;
        font-family: 'Varela Round', sans-serif;
        font-weight: bold;
        overflow: hidden;
    }

.card-button {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    width: 100%;
    background-color: #1F487E;
    color: #fff;
    border-radius: 0 0 15px 50px;
    font-family: 'Varela Round', sans-serif;
}

.card-button:hover {
    text-decoration: none;
    background-color: #1D3461;
    color: #fff;

}




.card-action {
    position: relative;
    float: right;
    margin-top: -25px;
    margin-right: 20px;
    z-index: 10; /* was 2*/
    color: #5cd9e2;
    background: rgb(255, 255, 255);
    border-radius: 100%;
    padding: 15px;
    font-size: 15px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.19);
}

.card-action:hover {
    color: #fff;
    background: #eeff00;
    -webkit-animation: pulse 1.5s infinite; /*niu*/
    animation: pulse 1.5s infinite; /*niu*/
}

/* @-webkit-keyframes pulse {} */ /*od*/


.card-action-1 {
    position: relative;
    float: right;
    margin-top: -25px;
    margin-right: 20px;
    z-index: 2;
    color: #5cd9e2;
    background: rgb(255, 8, 0);
    border-radius: 100%;
    padding: 15px;
    font-size: 15px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.075), 0 1px 2px 0 rgba(0, 0, 0, 0.19);
    animation: pulse1 1.5s infinite;
}


@keyframes pulse1 {
    0% {
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }

    70% {
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
        /* box-shadow: 0 0 0 50px rgba(253, 30, 1, 0.158); */
        box-shadow: 0 0 10px 30px rgba(253, 30, 1, 0.158);
    }

    100% {
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
        box-shadow: 0 0 0 0 rgba(90, 153, 212, 0);
    }
}


.card-action-2 {
    position: relative;
    float: right;
    margin-top: -25px;
    margin-right: 20px;
    z-index: 2;
    color: #5cd9e2;
    background: #15ff00;
    border-radius: 100%;
    padding: 15px;
    font-size: 15px;
    box-shadow: 0 1px 2px 0 #fbff0033, 0 1px 2px 0 rgba(0, 0, 0, 0.19);
    animation: pulse2 5.5s infinite;
}

@keyframes pulse2 {
    0% {
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }

    70% {
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
        /* box-shadow: 0 0 0 50px rgba(1, 253, 56, 0.363); */
        box-shadow: 0 0 10px 30px rgba(0, 143, 31, 0.726);
    }

    100% {
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
        box-shadow: 0 0 0 0 rgba(90, 153, 212, 0);
    }
}


.h1, h2, h3, h4, h5 {
    font-family: 'Varela Round', sans-serif;
}

.p1 {
    font-family: 'Varela Round', sans-serif;
    font-size: 24px;
}

.p2 {
    font-family: 'Varela Round', sans-serif;
    font-size: 18px;
}

.p3 {
    font-family: 'Varela Round', sans-serif;
    font-size: 14px;
    line-height: 5px;
}

.signin-form-logo {
    display: flex;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
}

.signin-form-logo img {
    width: 60px;
    margin-bottom: 20px;
}

.signup-form-logo {
    display: flex;
    margin-top: 60px;
    justify-content: center;
    align-items: center;
}

.signup-form-logo img {
    width: 60px;
    margin-bottom: 20px;
}

.signin-div {
    font-family: 'Varela Round', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid #000; */
    background-color: #dddddd;
    border-radius: 15px;
    padding: 20px;
    width: 250px;
    margin: 20px auto;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.425);
}

.signin-span {
    font-size: x-small;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid #000; */
    background-color: #dddddd;
    border-radius: 30px 15px;
    padding: 20px;
    width: 250px;
    height: 20px;
    margin: 20px auto;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.425);
}

.common {
    font-size: small;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 250px;
    height: 20px;
    margin: -10px auto;
    /* box-shadow: 0 0 50px rgba(0, 0, 0, 0.425); */
}

.signin-div-items {
    margin-top: 30px;
    align-items: center;
}

.form input {
    min-width: 100%;
    border-radius: 5px;
    border: 1px;
    height: 22px;
    font-size: small;
    background-color: rgba(0, 0, 0, 0.103);
    align-content: center;
    margin-top: 5px;
}

.form-input :placeholder-shown {
    font-family: 'Varela Round', sans-serif;
}

.a-button {
    border: 1px;
    margin-top: 10px;
    border-radius: 50px;
    min-width: 100%;
    height: 25px;
    font-size: small;
    background-color: #ffd000;
    float: right;
}

.error-message {
    font-family: 'Varela Round', sans-serif;
    color: rgb(255, 0, 0);
    font-size: small;
    margin-top: 9px;
    margin-bottom: -4px;
    line-height: 14px;
}









/* :::::::::::::::::::::: */

.create-div {
    font-family: 'Varela Round', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #00927f;
    background-color: #00c9bf;
    border-radius: 15px;
    padding: 20px;
    width: 330px;
    margin: 20px auto;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.425);
}

.create-span {
    font-size: x-small;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid #000; */
    background-color: #dddddd;
    border-radius: 30px 15px;
    padding: 20px;
    width: 250px;
    height: 20px;
    margin: 20px auto;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.425);
}

.common {
    font-size: small;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 250px;
    height: 20px;
    margin: -10px auto;
    /* box-shadow: 0 0 50px rgba(0, 0, 0, 0.425); */
}

.create-div-items {
    margin-top: 30px;
    align-items: center;
}

.create-form input {
    min-width: 100%;
    border-radius: 10px;
    border: 1px;
    height: 25px;
    font-size: small;
    background-color: rgba(255, 255, 255, 0.644);
    align-content: center;
    margin-top: 5px;
    margin-bottom: 20px;
}

.create-form textarea {
    min-width: 100%;
    border-radius: 10px;
    border: 1px;
    /* height: 25px; */
    font-size: small;
    background-color: rgba(255, 255, 255, 0.644);
    align-content: center;
    margin-top: 5px;
    margin-bottom: 20px;
}


.create-form-input :placeholder-shown {
    font-family: 'Varela Round', sans-serif;
}

.create-form select {
    min-width: 100%;
    border-radius: 10px;
    border: 1px;
    height: 25px;
    font-size: small;
    background-color: rgba(255, 255, 255, 0.644);
    align-content: center;
    /* margin-top: 5px; */
    /* margin-bottom: 20px; */
}

/* Style the options */
.create-form select option {
    width: 90%;
    font-size: 14px;
    color: #a30404;
}


.form2-message {
    font-family: 'Varela Round', sans-serif;
    color: rgb(255, 0, 0);
    font-size: small;
    margin-top: 9px;
    margin-bottom: -4px;
    line-height: 14px;
}

/* ::::::::::::::::::::: */

.terms {
    padding: 10px 15px;
    font-size: 14px;
    color: #636262;
    font-family: 'Varela Round', sans-serif;
}




/* ::::::::::::::::::::::::::::::::::::::::: */


/* :::::::::::START OF EDIT TACK VIEW :::::::::: */

.edittack-title {
    display: flex;
    position: relative; /* without this the tack menu will be thrown to Somalia*/
    margin: auto; /* yet to check why 5px and not 20px... 20 made a very big margin*/
    font-size: 14px;
    line-height: normal;
    color: rgb(0, 121, 129);
    font-family: 'Varela Round', sans-serif;
    z-index: 1;
}

.edittack-textarea-head {
    display: flex;
    justify-content: center;
    margin: auto;
    /* margin-top: 10px; */
    font-family: 'Varela Round', sans-serif;
}

.edittack-picker {
    display: flex;
    justify-content: center;
    margin: 1px auto;
    /* margin-left: 50px; */
    max-width: 180px;
    font-size: small;
    font-family: 'Varela Round', sans-serif;
}

.color-selector{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto auto;
    /* margin-left: 50px; */
    max-width: 180px;
    font-size: 14px;
    /* line-height: 5px; */
    margin-bottom: 10px;
    font-family: 'Varela Round', sans-serif;
}

.edittack-textarea {
    border-radius: 8px;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 10px;
    min-width: 80%;
    font-family: 'Varela Round', sans-serif;
}

.edittack-per_person-head {
    display: flex;
    justify-content: center;
    margin: auto;
}

.edittack-target {
    border-radius: 8px;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 10px;
    margin-top: -15px;
}

.edittack-sub-button {
    border-radius: 8px;
    width: 50%;
    margin: 10px auto;
    display: flex;
    background-color: yellow;
    border: none;
    justify-content: center;
    align-items: center;
    font-family: 'Varela Round', sans-serif;
    font-size: 15px;
}


/* :::::::::::END OF EDIT TACK VIEW :::::::::: */

/* :::::::::::VIEW TACK:::::::::: */

.tackview-div{
    max-width: 600px;
}

.viewone-item {
    /* display: flex;
    flex-direction: column;
    align-items: center; */

    margin: auto;
    margin-top: 10px;
    width: 90%;
    border-radius: 10px 10px 20px 20px;
    /* background-color: rgb(235, 191, 110); tack theme setting together with viewcard-heading and viewcard-subtitle below */
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.viewone-item p {
    margin: 15px;
    font-family: 'Varela Round', sans-serif;
}

.viewone-item img {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 0;
}


.viewcard-heading {
    font-size: 18px;
    /* font-weight: bold; */
    color: #000;
    /* background: rgb(235, 191, 110); tack theme setting together with viewone-item above and viewcard-subtitle below */
    padding: 10px 0px;
    font-family: 'Varela Round', sans-serif;
    border-radius: 10px 10px 0 0;
    position: relative;
    z-index: 1;
}


.carousel-item {
    display: flex;
    min-height: 330px;
    max-height: 330px;
    overflow: hidden;
    align-items: center;
    position: relative; /* Needed for absolute positioning of videos */
}

.carousel-item img,
.carousel-item video {
    width: 100%;
    height: auto;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.carousel-item video {
    object-position: center top; /* Center the video horizontally and crop equally from top and bottom */
}

.carousel-item audio {
    width: 90%;
    /* height: auto;
    object-fit: cover; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.ad-label {
    width: 100px;
    position: absolute;
    top: -4px; /* Adjust as needed */
    right: 0px; /* Adjust as needed */
    /*background-color: rgba(0, 0, 0, 0.5);  Background color */
    font-size: small;
    color: white; /* Text color */
    /* padding: 5px 10px; Padding */
    /*border-radius: 5px;  Rounded corners */
    z-index: 100; /* Ensure it's above the carousel */
}

.ad-link-label {
    width: 100px;
    position: absolute;
    top: 10px; /* Adjust as needed */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Move back by half of its own width */
    /*background-color: rgba(0, 0, 0, 0.5);  Background color */
    font-size: small;
    color: white; /* Text color */
    /* padding: 5px 10px; Padding */
    /*border-radius: 5px;  Rounded corners */
    z-index: 100; /* Ensure it's above the carousel */
}

.arrow-container {
    width: 100px; /* Adjust the width as needed */
    height: 30%; /* Maintain height of the arrows */
    position: absolute;
    top: 45%;
    z-index: 1;
}

.arrow-container.prev {
    left: 7px;
}

.arrow-container.next {
    right: 7px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 100%;
    height: 100%;
}

.carousel-control-prev,
.carousel-control-next {
    width: 100px;
    height: 30%;
    position: absolute;
    /*top: 50%;  Position at the vertical center of the carousel */
    /*transform: translateY(100%);  Adjust to center vertically */
    z-index: 1;
    opacity: 0.5; /* Adjust opacity as needed */
    background-color: rgba(0, 231, 142, 0.171);
    border-radius: 50%;
}

.viewcard-title {
    position: relative; /* without this the tack menu will be thrown to Somalia*/
    margin: 5px;
    font-size: 16px;
    line-height: normal;
    color: rgb(255, 255, 255);
    font-family: 'Varela Round', sans-serif;
    z-index: 1;
}

.viewcard-subtitle {  /*members list*/
    display: flex;
    justify-content: center;
    padding: 10px 15px;
    /* background: rgb(202, 170, 110); tack theme setting together with viewone-item and viewcard-heading above */
    font-size: 12px;
    color: rgb(255, 174, 0);
    font-family: 'Varela Round', sans-serif;
    overflow: hidden;
    margin-bottom: 0px;
}

/* .viewcard-subtitle, .viewcard-heading, .viewone-item {
    background: rgb(255, 0, 0);
} */

.viewcard-title p {
    display: flex;
    justify-content: space-between;
}


.viewcard-title p span:last-child {
    margin-left: auto;
}

/* Tack Menu Icon */
/* ::::::::::::::::::::::::::::::::::::::::: */

.tackdropdownicon-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tackdropdown-menu { /* top: auto; */
    padding: 12px 0px;
    display: none;
    position: absolute;
    right: 0;
    /* top: auto; */
    top: 35px !important;
    background-color: #00a59d;
    /* min-width: 160px; */
    min-width: 100%;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.788);
    z-index: 1;
    border-radius: 8px;
    font-weight: normal;
    font-size: 15px;
}

.tackdropdownicon-container:hover .dropdown-content {
    display: block;
}

.tackdropdown-menu a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    z-index: 10;
}

.tackdropdown-menu a:hover {
    background-color: #8a009c;
    border-radius: 8px;
    text-decoration: none;
    color: #ffffff;
}

.annexe-div {
    margin-top: -12px;
    margin: 3px auto;
    padding: 3px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.199);
    width: 95%;

    display: flex; /* Use flexbox because inline-block or table won't work well with centre and scroll */
    justify-content: flex-start; /*  space-around will Distribute items evenly along the main axis making too big spaces, center is good but the first two for many items are not accessible. flex-end won't scroll! */
    /* align-items: center; /* Center items vertically */

    overflow-x: auto; /* Allow horizontal scrolling */
    overflow-y: hidden; /* Hide vertical scrollbar */
    -webkit-overflow-scrolling: touch; /* Enable smooth scrolling on iOS */
}

.annexe-div img,
.annexe-div video {
    margin: auto; /* would be 3px but for fewer items sake using flex-start above*/
    /* max-width: 30px;
    max-height: 30px;
    min-width: 30px;
    min-height: 30px; */

    max-width: 30px;
    max-height: 20px;
    min-width: 30px;
    min-height: 20px;

    border-radius: 50px;
    object-fit: cover;
    border: 1px solid #00ffff;
    cursor: pointer;
}


.popup {
    display: none;
    position: fixed;
    /* width: 100%; */
    max-width: 90%;
    top: 10%;
    /* left: 0;
    right: 0; */
    margin-left: auto;
    margin-right: auto;
    left: 50%;
    transform: translateX(-50%);
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
    background-color: #f1d3a5;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 9999;
  }

  .popup::before {
    content: "";
    position: fixed;
    width: 100%;
    /* top: 0;
    left: 0;
    right: 0;
    bottom: 0; */
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity as needed */
    z-index: 1; /* Ensure the overlay is behind the popup */
}

  @media only screen and (max-width: 600px) {
    .popup {
        width: 100%;
        max-width: 90%;
    }
}

  .popup img {
    max-width: 100%;
    max-height: 80vh;
    border-radius: 15px; /* 30px 15px 15px */
    align-self: center;
  }

  .popup video {
    max-width: 100%;
    max-height: 80vh;
    border-radius: 20px; /* 30px 15px 15px */
  }

  .popup audio {
    max-width: 95%;
    /* max-height: 80vh; */
    /* border-radius: 20px; */

    display: flex;
    min-height: 300px;
    max-height: 300px;
    overflow: hidden;
    align-items: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .popup p {
    color: white;
    font-size: small;
    /* margin: 0 auto; */ /* needs work */
  }

  .popup a {
    color: white;
    font-size: small;
    /* margin: 0 auto; */ /* needs work */
  }
  
  /* close button */
  .close {
    position: absolute;
    top: 10px;
    right: 10px;

    /* left: 50%;
    transform: translateX(-50%); */

    cursor: pointer;
    color: #ffffff;
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    width: 25px;
    height: 25px;
    z-index: 99;
  }

.gradient-border { /* not used yet */
    position: relative;
    padding: 10px;
}

.gradient-border:before { /* not used yet too */
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: linear-gradient(to right, #ff0000, #0000ff);
    border-radius: inherit;
}


.viewcard-text {
    position: relative;
    padding: 10px 15px;
    background: #ffffffab; /* affect transparency here or add .viewcard-text in themes if you want description themed too */
    font-size: 14px;
    color: #636262;
    font-family: 'Varela Round', sans-serif;
    overflow-wrap: break-word;
    /* z-index: 1; */
}

.viewcard-text a {
        text-decoration: none;
    }

    .viewcard-text a:hover {
        text-decoration: none;
    }


.viewcard-tg {
    display: flex;
    justify-content: center;
    padding: 10px 15px;
    background: #f1f1f1;
    /* border-radius: 50px; */
    font-size: 12px;
    color: #000000;
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
    overflow: hidden;
}

.viewcard-tg a {
    text-decoration: none;
}

.view-per_person-view {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    width: 100%;
    background-color: #1F487E;
    color: #fff;
    /* border-radius: 0 0 15px 50px; */
    font-family: 'Varela Round', sans-serif;
}

.view-per_person-view:hover {
    color: #ffeb7a;
}

.viewtargetview:hover {
    text-decoration: none;
    background-color: #1D3461;
    color: #ffe600;

}

.view-cards {
    margin: 5px 20px;
    color: rgb(255, 255, 255);
    font-family: 'Varela Round';
    display: flex;
    /* display: none; Initially hide all view-cards */
    /* align-items: center; */
}

.view-cards span:last-child {
    margin-left: auto;
    margin-right: 20px;
    color: rgb(255, 255, 255);
}

.view-cards a {
    color: inherit;
    text-decoration: none;
}

.view-cards a:hover {
    color: inherit;
}


.viewgroup-cards {
    margin: 5px 20px;
    color: #e5ff00;
    font-family: 'Varela Round';
    /* display: flex; */
    /* display: none; Initially hide all view-cards */
    /* align-items: center; */
}

.viewgroup-cards span:last-child {
    margin-left: auto;
    margin-right: 20px;
    color: #e5ff00;
}

#progress-list.collapsed .view-card:nth-child(-n+100) {
    display: flex; /* Show the first +x view-cards when collapsed */
}

#progress-list.collapsed .viewgroup-card:nth-child(-n+100) {
    display: flex; /* Show the first +x view-cards when collapsed */
}

.activity-card {
    margin: 10px 10px;
    padding: 10px;
    background-color: rgb(40, 40, 40);
    border-radius: 5px;
}

.activity-card p {
    margin: 0;
    font-size: 18px;
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
    color: rgb(255, 238, 0);
}

.activity-card .activity-label {
    color: white;
}

.activity-card hr {
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    margin: 10px 0;
}

.activity-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.activity-inner span {
    font-family: 'Varela Round', sans-serif;
    color: rgb(255, 255, 255);
}

.activity-inner span:last-child {
    font-weight: bold;
}



.social-div{
    margin: 30px;
    margin-top: 20px;
    /* display: flex; */
    flex-direction: column;
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
}

.social-btn {
    white-space: nowrap;
    align-items: center;
    border-radius: 10px;
    color: #636262;
    font-family: 'Varela Round';
    font-size: 10px;
    margin-top: 20px;
    margin: 5px;
    margin-bottom: 10px;
}


.collapse-btn {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    border-radius: 10px;
    color: #636262;
    font-family: 'Varela Round';
    font-size: 10px;
    margin-top: 20px;
    margin: auto;
}

.collapse-btn:focus,
.collapse-btn:active {
    outline: none;
}


.toggle-desc{
    font-size: small;
    border: none;
    border-radius: 50px;
    background-color: #ffffff63;
}

.toggle-desc:active,
.toggle-desc:focus {
    border: none;
    outline: none;
}

.toggle-desc:hover{
    border: none;
    background-color: inherit;
}

.toggle-group-btn {
    /* display: flex; */
    /* flex-direction: row; */
    align-items: center;
    border-radius: 10px;
    color: #636262;
    font-family: 'Varela Round';
    font-size: 10px;
    margin-top: 7px;
    /* margin: auto; */
}

/* :::::::::::END OF VIEW TACK:::::::::: */

/* :::::::::::START OF INSIDETACK:::::::::: */

.tackdetails-div {
    background-color: #009c9c;
}

.footer {
    position: fixed; /* or absolute */
    bottom: 0;
    width: 100%;
    background-color: #00696d; /* Your desired background color */
    padding: 0px; /* Adjust padding as needed */
}

/* :::::::::::END OF INSIDETACK:::::::::: */

/* :::::::::::START OF SETTLE:::::::::: */

.settle-page {
    padding: 40px;
    font-family: 'Varela Round';
    border-width: 3px black;
}

.settle-button {
    margin-top: 5px;
    border-radius: 6px;
    border: 0;
    width: 80px;
    height: 30px;
    background-color: #00927f;
    color: #ffffff;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.466);
}

.settle-button:focus,
.settle-button:active {
    outline: none;
    background-color: #005348;
}

.settle-input {
    margin-top: 5px;
    margin-right: 10px;
    border-radius: 6px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.466);
}

.settle-input:focus,
.settle-input:active {
    outline: none;
}

.settle-p-div {
    margin-top: 40px;
}

.settle-p {
    font-size: 12px;
}

.settle-p2 {
    margin-top: -15px;
    font-size: 14px;
}

.settle-extra-info-p {
    font-size: 13px;
    color: #ff00aa;
    font-family: 'Varela Round', sans-serif;
}

.settle-cancel-button {
    margin-top: 60px;
    border-radius: 6px;
    border: 0;
    width: 80px;
    height: 30px;
    background-color: #925300;
    color: #ffffff;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.466);
}

.settle-cancel-button:focus,
.settle-cancel-button:active {
    outline: none;
    background-color: #553000;
}

.amount-error {
    color: red;
    font-size: 12px;
}

/* :::::::::::END OF SETTLE:::::::::: */

/* :::::::::::START OF PROCESSING:::::::::: */

.processing-div {
    font-family: 'Varela Round';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* :::::::::::END OF PROCESSING:::::::::: */


/* :::::::::::START OF WITHDRAW:::::::::: */

.withdraw-page {
    padding: 40px;
    font-family: 'Varela Round';
    border-width: 3px black;
}

.withdraw-button {
    margin-top: 5px;
    border-radius: 6px;
    border: 0;
    width: 85px;
    height: 30px;
    background-color: #00927f;
    color: #ffffff;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.466);
}

.withdraw-button:focus,
.withdraw-button:active {
    outline: none;
    background-color: #005348;
}

.withdraw-input {
    margin-top: -25px;
    margin-right: 10px;
    border-radius: 6px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.466);
}

.withdraw-input:focus,
.withdraw-input:active {
    outline: none;
}

.withdraw-p-div {
    margin-top: 40px;
}

.withdraw-p {
    font-size: 12px;
}

.withdraw-p2 {
    margin-top: -15px;
    font-size: 14px;
}

.withdraw-extra-info-p {
    font-size: 13px;
    color: #ff00aa;
}

.withdraw-cancel-button {
    margin-top: 60px;
    border-radius: 6px;
    border: 0;
    width: 85px;
    height: 30px;
    background-color: #925300;
    color: #ffffff;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.466);
}

.withdraw-cancel-button:focus,
.withdraw-cancel-button:active {
    outline: none;
    background-color: #553000;
}

.w-amount-error {
    color: red;
    font-size: 12px;
}

/* :::::::::::END OF WITHDRAW:::::::::: */

/* :::::::::::START OF COLLECT (part already in the above section):::::::::: */

.form-check-label {
    margin-left: 10px;
}
.input-group {
    max-width: 300px;
}
.input-group input {
    display: none;
}

/* :::::::::::END OF COLLECT:::::::::: */


/* :::::::::::START OF PROFILE:::::::::: */

.profile-div {
    display: grid;
    grid-template-columns: auto 1fr;
    max-width: 600px;
    gap: 20px;
    background-color: #00000027;
    border-radius: 25px;
    padding: 15px;
    margin: 10px;
}

.profile-photo {
    max-width: 200px;
    width: 100%;
    border-radius: 50%;
}

.profile-details {
    font-family: 'Varela Round';
    margin: auto;
}

.profile-details-left {
    text-align: right;
}

.edit-profile-button {
    font-family: 'Varela Round';
}

.add-to-button {
    width: auto;
    font-family: 'Varela Round';
}

/* :::::::::::END OF PROFILE:::::::::: */

/* :::::::::::START OF EDIT PROFILE:::::::::: */

.editprofile-div {
    display: grid;
    grid-template-columns: auto 1fr;
    max-width: 600px;
    gap: 20px;
    background-color: #00000027;
    border-radius: 25px;
    padding: 15px;
    margin: 10px;
}

.editprofile-div {
    font-family: 'Varela Round';
}

.editprofile-div-items {
    font-family: 'Varela Round';
}

.editprofile-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #fff;
}

.editprofile-details {
    font-family: 'Varela Round';
    margin: auto;
}

.editprofile-details-left {
    text-align: right;
}

.editprofile-span {
    font-size: x-small;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid #000; */
    background-color: #ff0000;
    border-radius: 30px 15px;
    padding: 10px;
    width: 150px;
    height: 20px;
    margin: 20px auto;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.425);
}

.editprofile-span a {
    color: #fff;
}

.editprofile-span a:hover {
    color: #fff;
}

/* :::::::::::END OF EDIT PROFILE:::::::::: */

/* :::::::::::START OF POST BOARD:::::::::: */

/* form {
    display: flex;
    flex-direction: column;
    align-items: center;
} */

label {
    margin-bottom: 0px;
}

input {
    margin-bottom: 20px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* button {
    padding: 5px 10px;
    background-color: #00d9ff;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    max-height: 30px;
} */

button:hover {
    background-color: #0056b3;
}

.b-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.b-p {
    background-color: #93c2bf; /* Light grey background */
    border: 1px solid #ccc; /* Light grey border */
    border-radius: 5px; /* Rounded corners */
    padding: 20px; /* Spacing inside the container */
    margin: 20px; /* Spacing outside the container */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.274); /* Subtle shadow for depth */
    max-width: 400px;
    font-family: 'Varela Round', sans-serif;
}


/* :::::::::::END OF POST BOARD:::::::::: */

/* :::::::::::START OF MANAGE-A-B :::::::::: */

.manage-a {
    margin: 20px;
    max-width: 150px;
}

.manage-a video {
    max-width: 150px;
}

/* :::::::::::END OF MANAGE-A-B :::::::::: */

/* :::::::::::START OF MANAGE-LINKS:::::::::: */

.manage-link-page {
    padding: 40px;
    font-family: 'Varela Round';
    border-width: 3px black;
}

.manage-link-button {
    margin-top: 5px;
    border-radius: 6px;
    border: 0;
    width: 200px;
    height: 30px;
    background-color: #00927f;
    color: #ffffff;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.466);
}

.manage-link-button:focus,
.manage-link-button:active {
    outline: none;
    background-color: #005348;
}

.manage-link-input {
    margin-top: 5px;
    margin-right: 10px;
    border-radius: 6px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.466);
}

.manage-link-input:focus,
.manage-link-input:active {
    outline: none;
}

.manage-link-p-div {
    margin-top: 40px;
}

.manage-link-p {
    font-size: 12px;
}

.newlink-div {
    border: 1px solid #000;
    border-radius: 10px;
    padding: 20px;
}

.manage-link-p2 {
    margin-top: -15px;
    font-size: 14px;
}

.manage-link-extra-info-p {
    font-size: 13px;
    color: #ff00aa;
}

.manage-link-done-button {
    margin-top: 10px;
    border-radius: 6px;
    border: 0;
    width: 200px;
    height: 30px;
    background-color: #925300;
    color: #ffffff;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.466);
}

.manage-link-done-button:focus,
.manage-link-done-button:active {
    outline: none;
    background-color: #553000;
}

.link-error {
    color: red;
    font-size: 12px;
}

/* :::::::::::END OF MANAGE-LINKS:::::::::: */

/* :::::::::::START OF COMMENTS :::::::::: */

.comments-sec {
    /* display: flex; */
    margin-top: 25px;
    max-width: 99%;
    background-color: #00b3b31f;
    border: 1px solid #00000031;
    border-left: 2px solid #006b6b;
    border-radius: 5px 20px 20px 20px;
}

.comment-username {
    margin-top: -3px;
    margin-right: 3px;
    margin-bottom: 5px;
    color: rgb(0, 0, 0);
    font-size: 14px;
    line-height: normal;
}

.comment-username a {
    color: inherit;
    text-decoration: none;
}

.comment-username a:hover {
    color: inherit;
}

.comment_profile-img {
    margin: 3px;
    max-width: 30px;
    max-height: 30px;
    min-width: 30px;
    min-height: 30px;
    border-radius: 50px;
    object-fit: cover;
    /* border: 3px solid #000000; */
}

.comment-dt {
    align-items: center; /* Align items vertically */
    margin-top: 0;
    margin-left: 40px;
}

.comment_file-img {
    max-width: 97%;

    max-height: 400px;
    object-fit: cover;
    border: 6px solid #ffffff;
    border-radius: 20px;
    margin-bottom: 10px;
}

.comment-p {
    margin-top: -3px;
    margin-right: 3px;
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
    font-size: 12px;
    line-height: normal;
}

.comment-p a {
    color: #000088;
}

.comment-time {
    margin-top: -3px;
    font-style: italic;
    font-size: 9px;
    line-height: normal;
    right: 0;
}

.comment-container {
    display: flex;
    align-items: center;
}

.comment-box{
    flex: 1;
    margin-top: 25px;
    max-width: 99%;
    margin-right: 7px;
    background-color: #00c2c283;
    border: 1px solid #00000031;
    border-left: 2px solid #006b6b;
    border-radius: 5px 20px 20px 20px;

    /* flex: 1;
    border-left: 2px solid #006b6b;
    margin-top: 4px;
    margin-left: 39px;
    margin-bottom: 3px;
    margin-right: 7px;
    padding: 3px; */
}

.comment-send-button{
    margin-right: 10px;
    margin-bottom: -45px;
    border-radius: 50px;
    border: none;
}

.comment-file-picker{
    margin-bottom: 5px;
    margin-top: 3px;
    border: none;
}

/* .custom-file-upload {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f0f0f0;
}

.custom-file-upload span {
    display: inline-block;
    margin-right: 5px;
}

/* Hide the default file input */
/*.custom-file-upload input[type="file"] {
    display: none;
} */



.reply-sec {
    /* display: flex; */
    border-left: 2px solid #006b6b;
    margin-top: 4px;
    margin-left: 39px;
    margin-bottom: 3px;
    margin-right: 7px;
    padding: 3px;
    /* border: 1px solid #00000031; */
    background-color: rgba(255, 255, 255, 0.459);
    border-radius: 5px 15px 15px 15px;
}

.reply-username {
    margin-top: -3px;
    margin-right: 3px;
    margin-bottom: 5px;
    color: rgb(0, 0, 0);
    font-size: 14px;
    line-height: normal;
}

.reply-username a {
    color: inherit;
    text-decoration: none;
}

.reply-username a:hover {
    color: inherit;
}

.reply_profile-img {
    margin: 3px;
    max-width: 30px;
    max-height: 30px;
    min-width: 30px;
    min-height: 30px;
    border-radius: 50px;
    object-fit: cover;
    /* border: 3px solid #000000; */
}

.reply-dt {
    align-items: center; /* Align items vertically */
    margin-top: 0;
    margin-left: 40px;
}

.reply_file-img {
    max-width: 95%;
    max-height: 200px;
    object-fit: cover;
    border: 6px solid #ffffff;
    border-radius: 20px;
    margin-bottom: 5px;
}

.reply-p {
    /* margin-top: -3px; */
    /* margin-left: -9px; */
    font-size: 12px;
    line-height: normal;
    /* font-style: italic; */
    max-width: 90%;
}

.reply-p a {
    color: #000088;
}

.reply-container {
    display: flex;
    align-items: center;
}

.reply-box{
    flex: 1;
    border-left: 2px solid #006b6b;
    margin-top: 4px;
    margin-left: 39px;
    margin-bottom: 3px;
    margin-right: 7px;
    padding: 3px;
    border: 1px solid #00000031;
    background-color: rgba(255, 255, 255, 0.459);
    border-radius: 5px 15px 15px 15px;
}

.reply-send-button{
    margin-right: 10px;
    margin-bottom: -25px;
    border-radius: 50px;
    border: none;
}

.reply-file-picker{
    margin-left: 39px;
    max-width: 70%;
    margin-bottom: 5px;
}

/*------------------------------------------*/

.comment-menu-dropdown {
    position: relative;
    display: inline-block;
    right: 0;
    cursor: pointer;
  }
  
  .comment-menu-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1000;

    top: 40px;
    right: -30px;
  }
  
  .comment-menu-dropdown-content input[type="text"] {
    padding: 10px;
    border: none;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;
  }
  
  .comment-menu-dropdown-content input[type="text"]:focus {
    outline: none;
  }
  
  .comment-menu-dropdown-content input[type="text"]::placeholder {
    color: #999;
    font-family: 'Varela Round', sans-serif;
  }
  
  .comment-menu-dropdown-content input[type="submit"] {
    background-color: #00998c;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    width: 100%;
    font-family: 'Varela Round', sans-serif;
    border-radius: 0px;
  }


/* ::::::::::::::: START OF SHARE PAGE :::::::::: */

.sharepage {
    margin: 15px;
    border: 1px solid #000;
    border-radius: 15px;
    padding: 10px;
    margin-top: 100px;
    
}

.sharepage p {
    font-size: 12px;
}

.whatsapp-button {
    width: 300px;
    font-size: smaller;
    text-align: center;
    display: inline-block;
    padding: 10px 20px;
    background-color: #25D366; /* WhatsApp green color */
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.whatsapp-button:hover {
    background-color: #128C7E;
    color: white;
    text-decoration: none;
}


/* :::::::::::END OF COMMENTS :::::::::: */













.red-text {
    color: red;
}

.orange-text {
    color: rgb(255, 187, 0);
}

.small-text {
    font-size: x-small;
    font-family: 'Varela Round', sans-serif;
}
