{% load static %}
{% load humanize %}
<!-- {.% load jinja_filters %} -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="theme-color" content="#009c9c"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'common/favicon.png' %}" rel="icon" type="image/png">
    <title>Simple Quick: T'</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}?v=9"> -->
    <link rel="stylesheet" href="{% static 'assets/css/simple_styles.css' %}?v=9">
    <!-- <link rel="stylesheet" href="{% static 'assets/css/style_b.css' %}?v=9"> -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> -->

    <!-- <script src="{% static 'assets/js/script.js' %}"></script> -->

    <style>
        @font-face {
            font-family: 'Varela Round';
	    src: url('{% static "assets/fonts/varela_round/VarelaRound-regular.ttf" %}');
        }

        .content-container {
            transform: scale(0.35);
            transform-origin: top left;
            /* margin-left: -20px;
            margin-top: -20px; */
            min-width: 280%;
            min-height: 280%;
        }
    </style>
</head>
<body style="background-color: rgb(218, 253, 253);">


    

    <div class="simple">
        <div class="simple-item">
          <div class="poster-container">
            {% include 'i_divs/quick0.html' %}
          </div>
          <p></p>
          <span>
            <a href="{% url 'generate_poster' %}?file=i_divs/quick0.html">
              <button class="download-btn">Download</button>
            </a>
          </span>
          <span>
            <a href="{% url 'home' %}">
                <button class="download-btn">Variants</button>
            </a>
          </span>
          <p></p>
        </div>

        <div class="simple-item">
            <div class="poster-container">
              {% include 'i_divs/quick1.html' %}
            </div>
            <p></p>
            <span>
              <a href="{% url 'generate_poster' %}?file=i_divs/quick1.html">
                <button class="download-btn">Download</button>
              </a>
            </span>
            <span>
              <a href="{% url 'home' %}">
                  <button class="download-btn">Variants</button>
              </a>
            </span>
            <p></p>
          </div>

          <div class="simple-item">
            <div class="poster-container">
              {% include 'i_divs/quick2.html' %}
            </div>
            <p></p>
            <span>
              <a href="{% url 'generate_poster' %}?file=i_divs/quick2.html">
                <button class="download-btn">Download</button>
              </a>
            </span>
            <span>
              <a href="{% url 'home' %}">
                  <button class="download-btn">Variants</button>
              </a>
            </span>
            <p></p>
          </div>

          <div class="simple-item">
            <div class="poster-container">
              {% include 'i_divs/quick3.html' %}
            </div>
            <p></p>
            <span>
              <a href="{% url 'generate_poster' %}?file=i_divs/quick3.html">
                <button class="download-btn">Download</button>
              </a>
            </span>
            <span>
              <a href="{% url 'home' %}">
                  <button class="download-btn">Variants</button>
              </a>
            </span>
            <p></p>
          </div>

          <div class="simple-item">
            <div class="poster-container">
              {% include 'i_divs/quick4.html' %}
            </div>
            <p></p>
            <span>
              <a href="{% url 'generate_poster' %}?file=i_divs/quick4.html">
                <button class="download-btn">Download</button>
              </a>
            </span>
            <span>
              <a href="{% url 'home' %}">
                  <button class="download-btn">Variants</button>
              </a>
            </span>
            <p></p>
          </div>

          <div class="simple-item">
            <div class="poster-container">
              {% include 'i_divs/quick5.html' %}
            </div>
            <p></p>
            <span>
              <a href="{% url 'generate_poster' %}?file=i_divs/quick5.html">
                <button class="download-btn">Download</button>
              </a>
            </span>
            <span>
              <a href="{% url 'home' %}">
                  <button class="download-btn">Variants</button>
              </a>
            </span>
            <p></p>
          </div>

    </div>

        

    <div style="margin-bottom: 20px;"></div>



    <script> // for search
        document.getElementById("searchDropdown").addEventListener("click", function (event) {
            var searchDropdownContent = document.querySelector(".search-dropdown-content");
            searchDropdownContent.style.display = (searchDropdownContent.style.display === "block") ? "none" : "block";
            event.stopPropagation();
        });
    
        document.querySelector(".search-dropdown-content input[type='text']").addEventListener("click", function (event) {
            event.stopPropagation();
        });
    
        document.addEventListener("click", function (event) {
            var searchDropdownContent = document.querySelector(".search-dropdown-content");
            if (event.target.closest(".search-dropdown") === null) {
                searchDropdownContent.style.display = "none";
            }
        });
    </script>

    <script> // for main menu

        document.getElementById("dropdownBtn").addEventListener("click", function (event) {
                var dropdownContent = document.querySelector(".dropdown-content");
                dropdownContent.style.display = (dropdownContent.style.display === "block") ? "none" : "block";
                event.stopPropagation();
            });

            document.addEventListener("click", function (event) {
                var dropdownContent = document.querySelector(".dropdown-content");
                if (event.target.closest(".dropdown") === null) {
                    dropdownContent.style.display = "none";
                }
            });

    </script>


</body>
</html>
