{% load static %}
{% load humanize %}
{% load jinja_filters %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="theme-color" content="#009c9c"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'common/favicon.png' %}" rel="icon" type="image/png">
    <title>Simples: Tack</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}?v=2">
    <link rel="stylesheet" href="{% static 'assets/css/simple_styles.css' %}?v=2">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- <script src="{% static 'assets/js/script.js' %}"></script> -->

    <style>
        @font-face {
            font-family: 'Varela Round';
	    src: url('{% static "assets/fonts/varela_round/VarelaRound-regular.ttf" %}');
        }
    </style>
</head>
<body style="background-color: rgb(218, 253, 253);">


    <header class="sticky-header">
        <a href="/"><div><img style="width: 50px;" src="{% static 'common/tl.png' %}"></div> </a>
        <nav class="menu">
          <ul> 
            <!-- <li><a href="#">Home</a></li> -->
            <!-- {.% url 'all' %} -->
            <!-- <li><a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg></a></li> -->
            <li class="search-dropdown" id="searchDropdown">
                <a href="#">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <circle cx="11" cy="11" r="8"></circle>
                    <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                  </svg>
                </a>
                <div class="search-dropdown-content" id="searchDropdownContent">
                  <form action="/search" method="GET">
                    <input type="text" name="search" placeholder="Search...">
                    <input type="submit" value="Search">
                  </form>
                </div>
              </li>
            
            <!-- <li><a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path><polyline points="22,6 12,13 2,6"></polyline></svg></a></li> -->
            
            <li class="dropdown">
                <a class="dropbtn" id="dropdownBtn">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg>
                </a>
                <div class="dropdown-content">
                <a href="{% url 'about' %}"> <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="11.5" cy="8.5" r="5.5"/><path d="M11.5 14v7"/></svg> &nbsp; About/Help</a>
                <a href="{% url 'create' %}"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><rect x="3" y="3" width="18" height="18" rx="2"/><path d="M9 3v18"/></svg>&nbsp; &nbsp;Create A Tack</a>
                <a href="{% url 'nest' %}"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" width="20" height="20" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                    viewBox="0 0 24 24" style="enable-background:new 0 0 20 20;" xml:space="preserve">
               <style type="text/css">
                   .st0{fill:none;stroke:#000000;stroke-width:1.6667;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:3.3333;}
               </style>
               <path class="st0" d="M4.2,2.5h11.7c0.9,0,1.7,0.7,1.7,1.7v11.7c0,0.9-0.7,1.7-1.7,1.7H4.2c-0.9,0-1.7-0.7-1.7-1.7V4.2
                   C2.5,3.2,3.2,2.5,4.2,2.5z"/>
               <path class="st0" d="M7.5,2.5v15"/>
               <path class="st0" d="M14.7,11.8H10"/>
               <path class="st0" d="M14.7,14.6H10"/>
               </svg> &nbsp; Nest Tack</a>
                <!-- <a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><rect x="3" y="3" width="18" height="18" rx="2"/><path d="M9 3v18"/></svg> &nbsp; Create Own Tack</a> -->
                {% if request.user.is_authenticated %}
                <a href="{% url 'profile' username=request.user.username %}"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M5.52 19c.64-2.2 1.84-3 3.22-3h6.52c1.38 0 2.58.8 3.22 3"/><circle cx="12" cy="10" r="3"/><circle cx="12" cy="12" r="10"/></svg> &nbsp; My Profile</a>
                {% else %}
                <a href="{% url 'signin' %}"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M5.52 19c.64-2.2 1.84-3 3.22-3h6.52c1.38 0 2.58.8 3.22 3"/><circle cx="12" cy="10" r="3"/><circle cx="12" cy="12" r="10"/></svg> &nbsp; My Profile</a>
                {% endif %}
                {% if request.user.is_authenticated %}
                <a href="{% url 'signout' %}"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect><path d="M7 11V7a5 5 0 0 1 10 0v4"></path></svg> &nbsp; Logout <span class="tiny-span">( @{{request.user.username|truncatechars:6}} )</span> </a>
                {% else %}
                <a href="{% url 'signin' %}"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect><path d="M7 11V7a5 5 0 0 1 10 0v4"></path></svg> &nbsp; Signin  </a>
                {% endif %}
                </div>
                
            </li>
          </ul>
        </nav>
      </header>

    <div class="simple">
        <!-- {.% if poster_details %} -->

            <div class="simple-item">
                <div class="poster-container">
                    <img class="main-image" src="https://img.freepik.com/free-vector/purple-pink-halftone-background-vector_53876-67278.jpg?t=st=1718294843~exp=1718298443~hmac=45f0a38593b259e7545c1a952410159cabfdcf449b5c0757e774e71f3bf10d93&w=740" alt="Base Image">
                    <div class="text-container">
                        <p>Big text</p>
                        <p>Smaller text</p>
                        <p>Smallest text</p>
                        <p>Smaller text</p>
                    </div>
                </div>
                <p></p>
                <span> <a href="{% url 'generate_poster' 'https://img.freepik.com/free-vector/purple-pink-halftone-background-vector_53876-67278.jpg?t=st=1718294843~exp=1718298443~hmac=45f0a38593b259e7545c1a952410159cabfdcf449b5c0757e774e71f3bf10d93&w=740' 'ffffff' 'Big text' 'Smaller text' 'Smallest text' 'Smaller text' %}" download="poster1.png">
                    <button class="download-btn"> Download </button>
                </a></span>
                <a href="{% url 'home' %}">
                    <button class="download-btn"> Variants </button>
                </a>
                <p></p>
            </div>

            <div class="simple-item">
                <div class="poster-container">
                    <img class="main-image" src="https://img.freepik.com/free-vector/yellow-comic-zoom-lines-background_1017-15136.jpg?size=626&ext=jpg&uid=R47087294&ga=GA1.1.1604559356.1718186747&semt=sph" alt="Base Image">
                    <div class="text-container">
                        <p>Big text</p>
                        <p>Smaller text</p>
                        <p>Smallest text</p>
                        <p>Smaller text</p>
                    </div>
                </div>
                <p></p>
                <a href="{% url 'generate_poster' 'https://img.freepik.com/free-vector/yellow-comic-zoom-lines-background_1017-15136.jpg?size=626&ext=jpg&uid=R47087294&ga=GA1.1.1604559356.1718186747&semt=sph' 'ffffff' 'Big text' 'Smaller text' 'Smallest text' 'Smaller text' %}" download="poster1.png">
                    <button class="download-btn"> Download </button>
                </a>
                <a href="{% url 'home' %}">
                    <button class="download-btn"> Variants </button>
                </a>
                <p></p>
            </div>

            <div class="simple-item">
                <div class="poster-container">
                    <img class="main-image" src="https://img.freepik.com/premium-vector/african-geometric-seamless-pattern-with-grunge-effect_601200-253.jpg?size=626&ext=jpg&uid=R47087294&ga=GA1.1.1604559356.1718186747&semt=sph" alt="Base Image">
                    <div class="text-container">
                        <p>Big Topic is Now Here</p>
                        <p>Smaller 20th June</p>
                        <p>Smallest 8 AM - 12 PM</p>
                        <p>Smaller Hall Twenty</p>
                    </div>
                </div>
                <p></p>
                <a href="{% url 'generate_poster' 'https://img.freepik.com/premium-vector/african-geometric-seamless-pattern-with-grunge-effect_601200-253.jpg?size=626&ext=jpg&uid=R47087294&ga=GA1.1.1604559356.1718186747&semt=sph' 'ffffff' 'Big text' 'Smaller text' 'Smallest text' 'Smaller text' %}" download="poster1.png">
                    <button class="download-btn"> Download </button>
                </a>
                <a href="{% url 'home' %}">
                    <button class="download-btn"> Variants </button>
                </a>
                <p></p>
            </div>

            <div class="simple-item">
                <div class="poster-container">
                    <img class="main-image" src="https://img.freepik.com/free-vector/abstract-colorful-geometric-isometric-background_8829-2711.jpg?size=626&ext=jpg&uid=R47087294&ga=GA1.1.1604559356.1718186747&semt=sph" alt="Base Image">
                    <div class="text-container">
                        <p c>Big text</p>
                        <p c>Smaller text</p>
                        <p c>Smallest text</p>
                        <p c>Smaller text</p>
                    </div>
                </div>
                <p></p>
                <a href="{% url 'generate_poster' 'https://img.freepik.com/free-vector/abstract-colorful-geometric-isometric-background_8829-2711.jpg?size=626&ext=jpg&uid=R47087294&ga=GA1.1.1604559356.1718186747&semt=sph' 'ffffff' 'Big text' 'Smaller text' 'Smallest text' 'Smaller text' %}" download="poster1.png">
                    <button class="download-btn"> Download </button>
                </a>
                <a href="{% url 'home' %}">
                    <button class="download-btn"> Variants </button>
                </a>
                <p></p>
            </div>

            <div class="simple-item">
                <div class="poster-container">
                    <img class="main-image" src="https://img.freepik.com/premium-vector/abstract-background-holographic-wallapaper_672927-110.jpg?size=626&ext=jpg&uid=R47087294&ga=GA1.1.1604559356.1718186747&semt=sph" alt="Base Image">
                    <div class="text-container">
                        <p>Big text</p>
                        <p>Smaller text</p>
                        <p>Smallest text</p>
                        <p>Smaller text</p>
                    </div>
                </div>
                <p></p>
                <a href="{% url 'generate_poster' 'https://img.freepik.com/premium-vector/abstract-background-holographic-wallapaper_672927-110.jpg?size=626&ext=jpg&uid=R47087294&ga=GA1.1.1604559356.1718186747&semt=sph' 'ffffff' 'Big text' 'Smaller text' 'Smallest text' 'Smaller text' %}" download="poster1.png">
                    <button class="download-btn"> Download </button>
                </a>
                <a href="{% url 'home' %}">
                    <button class="download-btn"> Variants </button>
                </a>
                <p></p>
            </div>

            <div class="simple-item">
                <div class="poster-container">
                    <img class="main-image" src="https://tack.plus/media/Add_media/SAMPLES.png" alt="Base Image">
                    <div class="text-container">
                        <p>Big text</p>
                        <p>Smaller text</p>
                        <p>Smallest text</p>
                        <p>Smaller text</p>
                    </div>
                </div>
                <p></p>
                <a href="{% url 'generate_poster' 'https://tack.plus/media/Add_media/SAMPLES.png' 'ffffff' 'Big text' 'Smaller text' 'Smallest text' 'Smaller text' %}" download="poster1.png">
                    <button class="download-btn"> Download </button>
                </a>
                <a href="{% url 'home' %}">
                    <button class="download-btn"> Variants </button>
                </a>
                <p></p>
            </div>

    </div>

        <!-- {.% endif %} -->

        

    <div style="margin-bottom: 20px;"></div>



    <script> // for search
        document.getElementById("searchDropdown").addEventListener("click", function (event) {
            var searchDropdownContent = document.querySelector(".search-dropdown-content");
            searchDropdownContent.style.display = (searchDropdownContent.style.display === "block") ? "none" : "block";
            event.stopPropagation();
        });
    
        document.querySelector(".search-dropdown-content input[type='text']").addEventListener("click", function (event) {
            event.stopPropagation();
        });
    
        document.addEventListener("click", function (event) {
            var searchDropdownContent = document.querySelector(".search-dropdown-content");
            if (event.target.closest(".search-dropdown") === null) {
                searchDropdownContent.style.display = "none";
            }
        });
    </script>

    <script> // for main menu

        document.getElementById("dropdownBtn").addEventListener("click", function (event) {
                var dropdownContent = document.querySelector(".dropdown-content");
                dropdownContent.style.display = (dropdownContent.style.display === "block") ? "none" : "block";
                event.stopPropagation();
            });

            document.addEventListener("click", function (event) {
                var dropdownContent = document.querySelector(".dropdown-content");
                if (event.target.closest(".dropdown") === null) {
                    dropdownContent.style.display = "none";
                }
            });

    </script>


</body>
</html>
